# Development Dependencies
# Встановлення: pip install -r requirements-dev.txt

# Testing
pytest==8.0.0
pytest-django==4.7.0
pytest-cov==4.1.0
pytest-mock==3.12.0
factory-boy==3.3.0
faker==22.0.0

# Code Quality
flake8==7.0.0
flake8-django==1.4
flake8-bugbear==24.1.0
black==24.1.0
isort==5.13.0
pylint==3.0.0
pylint-django==2.5.5
pre-commit==3.6.0

# Type Checking
mypy==1.8.0
django-stubs==4.2.7

# Debug Tools
django-debug-toolbar==4.2.0
ipython==8.20.0
ipdb==0.13.13

# Security
bandit==1.7.6
safety==3.0.0

# Documentation
Sphinx==7.2.0
sphinx-rtd-theme==2.0.0
